* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#navbar-pinterest {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 14px;
    
} 
a {
    display: flex;
    place-self: center;
}
#pinterest-icon {

width: 25px;
height: auto;
margin-left: 20px;
}
.nav--input {
    display: flex;
    flex-direction: row;
    width: 82vw;
    height: 43px;
    background: rgb(235, 232, 232);
    border-radius: 45px;
}
.nav--input_lupa {
background-image: url(./assets/lupa.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 15px;
height: auto;
margin-left: 20px;
margin-right: 10px;
}
nav input {
   
    background: none;
    width: 50vw;
    height: auto;
    border-style: none;
    font-size: 1.4rem;
    outline: 0;
}
.nav--bell {
    display: flex;
    flex-direction: row;
    width: 20px;
    text-align: center;
    justify-content: center;
    
}
.nav--bell span{
    background-image: url(./assets/bell.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
}
.nav--bell div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    margin-left: 25px;
    margin-top: 5px;
}
.nav--message {
    background-image: url(./assets/logo\ mensajes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
}
.nav--user {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background: rgb(235, 232, 232);
    padding: 2px;
    border-radius: 50%;
    
}
.nav--arrow {
    background-image: url(./assets/flecha.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
}

#content {
    display: flex;
    justify-content: center;
    
}
.container {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(auto-fill, minmax(180px, 250px));
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
}
.card-image {
    border-radius: 10px;
    border: 1px transparent black;
}

.two {
    background-image: url("https://i.pinimg.com/236x/c4/8c/ec/c48cec012bccf0c815c1f3044fad2c4d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

}
.three {
    background-image: url("https://i.pinimg.com/236x/9e/5e/a1/9e5ea1393315ea08cbd4f53e5ea09542.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}
.four {
    background-image: url("https://i.pinimg.com/236x/06/2c/e1/062ce1163eaba006cd7f69e87387d832.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
}
.five {
    background-image: url("https://i.pinimg.com/236x/24/cd/4e/24cd4e58c5dedc3855060bc9f3c61390.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}
.six {
    background-image: url("https://i.pinimg.com/236x/bd/5b/1b/bd5b1b7efc8a39fa10558dc16ab8590e.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.seven {
    background-image: url("https://i.pinimg.com/236x/73/47/5d/73475d1376a1e4174060810f4e3d319a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.eight {
    background-image: url("https://i.pinimg.com/236x/7e/17/c9/7e17c95423553525f6601412c8613a99.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.nine {
    background-image: url("https://i.pinimg.com/236x/b4/03/7b/b4037b836054259dde8b28fdb48a3c41.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
}
.ten {
    background-image: url("https://i.pinimg.com/236x/35/ea/fc/35eafc306a38cc1a99364739cf881c94.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}
.eleven {
    background-image: url("https://i.pinimg.com/236x/4b/9a/35/4b9a355bb24f83b3da199b81eb9e06a2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

}
.twelve {
    background-image: url("https://i.pinimg.com/236x/d4/b1/32/d4b13252195d65e9e60faeee7118c121.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}
.thirteen {
    background-image: url("https://i.pinimg.com/236x/0b/ee/87/0bee87669ca2531a7d18a2e60f483654.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
}
.fourteen {
    background-image: url("https://i.pinimg.com/236x/55/b2/c4/55b2c43bccb7a0444281d221107d1c3d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}
.fifteen {
    background-image: url("https://i.pinimg.com/236x/b3/86/77/b38677f1487b0e7255e9d49ea8f0449e.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.sixteen {
    background-image: url("https://i.pinimg.com/236x/18/1c/32/181c326b5a014bced1df71120e81eb1d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.seventeen {
    background-image: url("https://i.pinimg.com/236x/65/35/6f/65356f32c6ef771be4769fdf07729040.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.eightteen {
    background-image: url("https://i.pinimg.com/236x/7b/e6/b2/7be6b26160db6ca842ac0b754976b52f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
}
.nineteen {
    background-image: url("https://i.pinimg.com/236x/34/d9/e2/34d9e2099232733cb257595735786398.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}
.twenty {
    background-image: url("https://i.pinimg.com/236x/ee/56/f0/ee56f06173fcdb5b671a6bc0d103f6f3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

}
.twenty-one {
    background-image: url("https://i.pinimg.com/236x/3b/bf/75/3bbf7567d5c57996c3e59c50d75dec40.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}
.twenty-two {
    background-image: url("https://i.pinimg.com/236x/7c/0d/c7/7c0dc71fee66f72f35f205a6d534498c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
}
.twenty-three {
    background-image: url("https://i.pinimg.com/236x/2d/f3/6d/2df36d5aa9f70598985c104e315c483b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}
.twenty-four {
    background-image: url("https://i.pinimg.com/236x/dd/af/2d/ddaf2d52b985ae46c6f6ea194e155303.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.twenty-five {
    background-image: url("https://i.pinimg.com/236x/c2/5b/95/c25b955741dfae646f5127e0b0f6d74a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.twenty-six {
    background-image: url("https://i.pinimg.com/236x/e9/ec/a5/e9eca54574a73dcbca62795441145063.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.twenty-seven {
    background-image: url("https://i.pinimg.com/236x/05/1f/56/051f56cf29519e333159187719fef48b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
}
.twenty-eight {
    background-image: url("https://i.pinimg.com/236x/3a/83/ef/3a83efa2e885ead8b8d64db9f4016d8b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}
.twenty-nine {
    background-image: url("https://i.pinimg.com/236x/97/cd/c7/97cdc71e5baf6aaa0d8bd015e215f0ba.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}
.thirty {
    background-image: url("https://i.pinimg.com/236x/3e/e3/40/3ee3404c7a58390b58920c32871561d7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.thirty-one {
    background-image: url("https://i.pinimg.com/236x/71/40/30/714030d57ce3b8508560a45f87aafc82.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.thirty-two {
    background-image: url("https://i.pinimg.com/474x/90/6e/dd/906edd9be8d38f04af615a30e4b82a12.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.thirty-three {
    background-image: url("https://i.pinimg.com/236x/f3/3f/7f/f33f7fc07e5b5f7c519c1e444d88a18b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
}
.thirty-four {
    background-image: url("https://i.pinimg.com/236x/d1/94/5f/d1945fae2da2fb95626a0a6f6a940692.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
}

.oculto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    color: white;
    position: relative;
    align-items: end;
    opacity: 0;

}
.oculto div:nth-child(1) {
    display: flex;
    width: 45px;
    height: 25px    ;
    background: red;
    border-radius: 10px;
    justify-self: end;
    justify-content: center;
}
.oculto--top p {
    display: flex;
    place-self: center;
    
}
.oculto--bottom {
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.oculto--bottom figure img {
    width: 30px;
    height: auto;
    
}
.card-image:hover {
    cursor: zoom-in;
    filter: brightness(0.5);
    

    
}
.oculto:hover {
    opacity: 1;
}
.oculto--top p:hover, .oculto--bottom figure img:hover {
    cursor: pointer;
    
}
.one:hover {
    display: grid;
    border-radius: 20px;
    grid-column: 1/2;
    grid-row: 1/10;
    font-size: 1.3rem;
}
@media screen and (max-width:559px) {
    .nav--input {
        width: 45vw ;
    }
    #navbar-pinterest {
        gap: 10px;
    }
}
@media screen and (min-width:560px) {
   
    .six {
        grid-row: 3/5;
        height: auto;
    }
    .ten {
        grid-row: 6/8;
        grid-column: 2;
        height: auto;
    }
    .ten {
        grid-row: 8/10;
        grid-column: 2;
        height: auto;
    }
    .twenty-three {
        grid-row: 13/16;
        grid-column: 1;
        height: auto;
    }
    .twenty-seven {
        grid-row: 16/19;
        grid-column: 2;
        height: auto;
    }
}

@media screen and (min-width:860px) {
    .four {
        height: 300px;
    }
    .five {
        height: 290px;
    }
    .fifteen {
        height: 230px;
    }
    .twenty-four {
        height: auto;
    }
    .nineteen{
        height: auto;
    }
    .twenty-seven {
        grid-row: 11/18;
    }
    .twenty-eight {
        height: auto;
    }
    .thirty{ 
        grid-row: 16/19;
    grid-column: 2;
    height: auto;
    }
    .thirty-four {
        grid-row: 12/19;
        grid-column: 3;
        height: auto;
    }
}

@media screen and (min-width:1148px) {
    .two, .three, .fourteen, .fifteen {
        height: auto;
    }
}
@media screen and (min-width:1270px) {

    .container {
        display: grid;
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax( 180px, 1fr));
        grid-auto-rows: 10px;
        gap: 10px;
        margin-top: 30px;
        justify-content: center;
    }
    .one {
    
        display: grid;
        grid-row: 1/10;
        height: auto;
    }
    
    .two {
        display: grid;
        grid-row: 1/15;
        height: auto;
    }
    .three {
       
        grid-row: 1/19;
        display: grid;
        height: auto;
    }
    
    .four {
        
        display: grid;
        grid-row: 1/29;
        height: auto;
    }
    .five {
        display: grid;
        grid-row: 1/19;
        height: auto;
    }
    .six {
        display: grid;
        grid-row: 1/39;
        height: auto;
    }
    .seven {
        display: grid;
        grid-row: 10/40;
        height: auto;
    }
    .eight {
        display: grid;
        grid-row: 1/45;
        height: auto;
    }
    .nine {
        display: grid;
        grid-row: 19/49;
        height: auto;
    }
    .ten {
       
        grid-row: 15/32;
        height: auto;
    }
    .eleven {
       
        grid-row: 19/48;
        height: auto;
    }
    .twelve {
       
        grid-row: 40/70;
        height: auto;
        display: grid;
    }
    
    .thirteen {
      
        grid-row: 32/68;
        height: auto;
        display: grid;
    }
    .fourteen {
       
        grid-row: 29/82;
        height: auto;
        display: grid;
    }
    .fifteen {
        
        grid-row: 49/75;
        height: auto;
        display: grid;
    }
    .sixteen {
        height: auto;
        display: grid;
        grid-row: 39/64;
    }
    .seventeen {
    
        grid-row: 48/85;
        height: auto;
        display: grid;
    }
    .eightteen {
        height: auto;
        display: grid;
        grid-row: 68/90;
        
    }
    
    .nineteen {
        
        grid-row: 75/110;
        height: auto;
        display: grid;
    }
    .twenty {
        
        grid-row: 64/104;
        height: auto;
        display: grid;
    }
    .twenty-one {
        
        grid-row: 82/105;
        height: auto;
        display: grid;
    }
    
    .twenty-two {
        
        grid-row: 45/75;
        height: auto;
        display: grid;
    }
    .twenty-three {
        
        grid-row: 70/91;
        height: auto;
        display: grid;
    }
    .twenty-four {
        
        grid-row: 85/121;
        height: auto;
        display: grid;
    }
    .twenty-five {
        
        grid-row: 75/100;
        height: auto;
        display: grid;
    }
    .twenty-six {
        
        grid-row: 91/140;
        height: auto;
        display: grid;
    }
    .twenty-seven {
        
        grid-row: 90/110;
        height: auto;
        display: grid;
    }
    .twenty-eight {
        
        grid-row: 105/140;
        height: auto;
        display: grid;
    }
    .twenty-nine {
        
        grid-row: 100/125;
        height: auto;
        display: grid;
    }
    .thirty {
        
        grid-row: 100/140;
        height: auto;
        display: grid;
    }
    .thirty-one {
       
        grid-row: 121/141;
        height: auto;
        display: grid;
    }
    .thirty-two {
        
        grid-row: 104/142;
        height: auto;
        display: grid;
    }
    .thirty-three {
        
        grid-row: 125/141;
        height: auto;
        display: grid;
    }
    .thirty-four {
       
        grid-row: 110/140;
        height: auto;
        display: grid;
    }
}

